<!DOCTYPE html>
<html>
  <head>
    <title>Overzicht</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/coffeescript" src="client.coffee"></script>
  </head>
  <body>
    <header>
      <h1>Overzicht</h1>
      <span>My <b>own</b> <i>Overzicht</i></span>
    </header>
    <main id="container">
      <section id="times">
        <h2>Times</h2>
        <ul>
          <li>
            <span class="time_val" id="times_losangeles"></span>
            <span class="time_desc">San Francisco</span>
          </li>
          <li>
            <span class="time_val" id="times_newyork"></span>
            <span class="time_desc">New York</span>
          </li>
          <li>
            <span class="time_val" id="times_utc"></span>
            <span class="time_desc">UTC 🙏</span>
          </li>
          <li>
            <span class="time_val" id="times_london"></span>
            <span class="time_desc">London</span>
          </li>
          <li>
            <span class="time_val" id="times_prague"></span>
            <span class="time_desc">Prague</span>
          </li>
          <li>
            <span class="time_val" id="times_istanbul"></span>
            <span class="time_desc">Istanbul</span>
          </li>
          <li>
            <span class="time_val" id="times_tokyo"></span>
            <span class="time_desc">Tokyo</span>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; <a href="mailto:pdostal@pdostal.cz/">Pavel Dostál</a></p>
    </footer>
  </body>
</html>
